@import url('https://fonts.googleapis.com/css?family=Tangerine|Aguafina+Script|Alegreya+SC|Amatic+SC|Arbutus|Audiowide|Calligraffitti&display=swap');

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30;
    font-family: "Calligraffitti",serif;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Amatic SC", serif;
    font-size: 60;
  }

label {
    color:darkgreen;
    font-size: 40;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
}
  
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 40;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Arbutus",serif;
}

input[type=time], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Arbutus",serif;
}

input[type=checkbox], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transform: scale(2.5);
}
  
input[type=select], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transform: scale(1);
    font-size: 20;
    font-family: "Audiowide",serif;
}

button {
    width: 100%;
    background-color: rgb(57, 197, 243);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Calligraffitti",serif;
    font-size: 30;
}

button:hover 
{
    background-color:lightgreen;
    color: black
}
  
body {
    background: linear-gradient(to bottom, lightblue, pink 100%);
}

h1 {
    color: green;
    margin: auto;
    border: 1px solid rgb(226, 238, 171);
    text-align:center;
    font-size:50;
    font-family: "Aguafina Script", serif;
}

h2 {
    color: blue;
    margin: auto;
    text-align:center;
    font-family: "Alegreya SC", serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }