h2 {
    color: rgb(221, 17, 51);
    margin: auto;
    text-align:center;
}

div{
    color:rgb(1, 156, 1);
    margin: auto;
    text-align:center;
    font-size:200;
}

#logout {
    color: red;
}.absolute {
    position: absolute;
    bottom: 10px;
}